* {
  background-color: unset;
  border-radius: unset;
  box-shadow: unset;
  border: unset;
  color: unset;
}

button {
  color: black;
  background: white;
  border: 0px solid black;
}

.workspace {
  // background: red;
  // border-radius: 50%;
}

.workspace_active {
  background: darkgray;
  color: white;
}
